./bin
./obj/ARM
./obj/x86
.vs/MonolpolyAnalysis/v16/.suo
*.xbf
bin/x86/Debug/AppX/AppxManifest.xml
bin/x86/Debug/AppX/entrypoint/MonolpolyAnalysis.exe
bin/x86/Debug/AppX/MonolpolyAnalysis.xr.xml
bin/x86/Debug/AppX/vs.appxrecipe
bin/x86/Debug/AppxManifest.xml
bin/x86/Debug/Core/AppxManifest.xml
bin/x86/Debug/MonolpolyAnalysis.build.appxrecipe
bin/x86/Debug/MonolpolyAnalysis.exe
*.pdb
obj/MonolpolyAnalysis.csproj.nuget.dgspec.json
*.props
obj/MonolpolyAnalysis.csproj.nuget.g.targets
obj/project.assets.json
obj/project.nuget.cache
obj/x86/Debug/.winmd_cache/$Microsoft.UI.Xaml.Markup.winmd_636885274160000000.json
obj/x86/Debug/AboutPage.g.cs
obj/x86/Debug/AboutPage.g.i.cs
obj/x86/Debug/AnalysisPage.g.cs
obj/x86/Debug/AnalysisPage.g.i.cs
obj/x86/Debug/App.g.cs
obj/x86/Debug/AnalysisPage.g.i.cs
obj/x86/Debug/AnalysisPage.g.cs
obj/x86/Debug/App.g.cs
obj/x86/Debug/App.g.i.cs
*.cache
obj/x86/Debug/intermediatexaml/MonolpolyAnalysis.exe
obj/x86/Debug/intermediatexaml/MonolpolyAnalysis.pdb
obj/x86/Debug/MonolpolyAnalysis.csproj.CoreCompileInputs.cache
obj/x86/Debug/MonolpolyAnalysis.csproj.FileListAbsolute.txt
obj/x86/Debug/MonolpolyAnalysis.csprojAssemblyReference.cache
obj/x86/Debug/MonolpolyAnalysis.exe
obj/x86/Debug/MonolpolyAnalysis.pdb
obj/x86/Debug/ProjectArchitectures.txt
obj/x86/Debug/ResourceHandlingTask.state
obj/x86/Debug/SimulaitonPage.g.cs
obj/x86/Debug/SimulaitonPage.g.i.cs
obj/x86/Debug/SimulaitonPage.xbf
obj/x86/Debug/XamlSaveStateFile.xml
obj/x86/Debug/XamlSaveStateFile.xml
obj/**
bin/**
.vs/**
